.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.input-style {
  @apply border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}



.maincolor{
  color: #58CCCF!important;
}
.cardsectionheight{
  height: 80vh;
}
.cardwidth{
  width: 30%;
}
.backgrd{
  background-color: #58CCCF;
}
.bascolor{
  color: #b7f5f5;
}
.linecolor{
  color: #909090;
}
.charcoal{
  color: #2C2C2C;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.slider{
  display: flex!important;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}
.heroimage {
  transform: scale(0.75);
  left: 44%;
  top: 5%;
  position: absolute;
}
.bluemachimage {
  transform: scale(0.60);
   
  bottom:  -30%;
}
.logodiv{
  width: 45vw;
}

.quotesectionH{
  height: 80vh;
}
 
.sliderWH{
  width: 50vw;
  height: 60vh;
}



.links{
  width: 30vw;
  padding-left: 10%;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-padding {
  padding-left: 1rem;  /* px-4 */
  padding-right: 1rem; /* px-4 */
}

@media (min-width: 768px) { /* md breakpoint */
  .custom-padding {
      padding-left: 3rem;  /* md:px-12 */
      padding-right: 3rem; /* md:px-12 */
  }
}

.flexfornav {
  display: flex;
  gap: 23vw;
}

.justify-between-fornav {
  justify-content: center;
}

@media (min-width: 768px) {
  .fornavbar {
      padding-left: 5rem;
      padding-right: 5rem;
  }
}